@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #22254b;
  color: white;
  font-family: "Poppins",sans-serif;
  margin-top: 0;
}

.root{
  display: flex;
  flex-direction: column;
}

header{
  background-color: #373b69 ;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.search{
  background-color: transparent;
  border-radius: 2px sloid  #22254b;
  border-radius: 50px;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.movie-contanier{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie{
  background-color: #373b69;
  border-radius: 4px;
  box-shadow: 3px 3px 3px
  rgba(0,0,0,0.1);
  overflow:hidden;
  position: relative;
  margin: 1rem;
  width: 250px;
}
.movie img {
  object-fit: cover;
  max-width: 100%;
  height: 400px;
}

.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3{
  margin:0;
}

.movie-over{
  background-color: white;
  position:absolute;
  padding: 1rem;
  color:#373b69;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}
.movie:hover .movie-over{
  transform: translateY(0%);
}
.tag{
  background-color: #22254b;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 5px;

}
.tag.green{
  color:rgb(0, 233, 0)

}
.tag.orange{
  color:rgb(255, 166, 0)
  
}
.tag.red{
  color:red
  
}